* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  :root {
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
  }
  
  body {
    background-image: url("./back2.jpg");
    background-position:center;
    background-size:75%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  a {
    text-decoration: none;
    color: var(--second-color);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .login_box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }
  
  .login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
  }
  
  .login-header span {
    font-size: 30px;
    color: var(--black-color);
  }
  
  .login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
  }
  
  .login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color); 
  }
  
  .input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
  }
  
  #user {
    margin-bottom: 10px;
  }
  
  .label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;
  }
  
  .input-field:focus ~ .label,
  .input-field:valid .label {
   
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
  } 
  
  .icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
  }
  
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  
  .input-submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .input-submit:hover {
    background: var(--second-color);
  }
  
  .register {
    text-align: center;
  }
  
  .register a {
    font-weight: 500;
  }
  
  @media only screen and (max-width: 564px) {
    .wrapper {
      padding: 20px;
    }
  
    .login_box {
      padding: 7.5em 1.5em 4em 1.5em;
    }
  }
  .face {
    /* position: relative; */
    width: 180px;
    height: 180px;
    /* border-radius: 50%; */
    /* outline: 10px solid #333; */
    /* background: repeating-radial-gradient(circle at 50% 50%,  */
    /* rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%,  */
    /* transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%,  */
    /* transparent 3%), conic-gradient(white 0%, silver 10%,  */
    /* white 35%, silver 45%, white 60%, silver 70%,  */
    /* white 80%, silver 95%, white 100%); */
    /* box-shadow: inset 0 0 20px #0007; */
    margin-inline-start: 40%;
  }
  
  .hour {
    position: absolute;
    width: 5px;
    height: 60px;
    background: #aaa;
    left: 87.5px;
    top: 43px;
    border-radius: 3px 3px 1px 1px;
    transform-origin: 2px 47px;
    box-shadow: 0 0 5px #0005,inset 1.5px 3px 0px #333, inset -1.5px -3px 0px #333;
    z-index: 1;
    animation: watch 432s linear infinite;
  }
  
  .minute {
    position: absolute;
    width: 4px;
    height: 78px;
    background: #aaa;
    left: 88px;
    top: 25px;
    border-radius: 3px 3px 1px 1px;
    transform-origin: 2px 65px;
    box-shadow: 0 0 5px #0005, inset 1.5px 3px 0px #333, inset -1.5px -3px 0px #333;
    z-index: 2;
    animation: watch 36s linear infinite;
  }
  
  .second {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    left: 85px;
    top: 85px;
    border-radius: 50%;
    border: 1px solid #eee;
    z-index: 3;
    animation: watch .6s steps(60, end) 0s infinite;
  }
  
  .second::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 85px;
    left: 3px;
    bottom: -10px;
    background: red;
    border-radius: 2px;
    box-shadow: 5px 0 2px rgba(128, 128, 128, 0.2);
  }
  
  .second::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: 2px;
    top: 2px;
    background: #555;
    border-radius: 50%;
  }
  
  .v-index {
    position: absolute;
    color: #333;
    font-size: 24px;
    left: 83.5px;
    top: -3px;
    text-shadow: 0 157px 0 #333;
    z-index: 1
  }
  
  .h-index {
    position: absolute;
    color: #333;
    font-size: 24px;
    top: 72px;
    left: 5px;
    transform: rotate(-90deg);
    text-shadow: 0 158px 0 #333;
    z-index: 1;
  }
  
  @keyframes watch {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  